*
	box-sizing: border-box
body
	+reg
	color: $text-color
.container
	width: 1170px
	margin: auto

@media (max-width: 1200px)
	.container
		max-width: 1140px
		width: 90%
@media (max-width: 992px)
	.container
		max-width: 960px
		width: 90%	
@media (max-width: 768px)
	.container
		max-width: 720px
		width: 90%
	// .section
	// 	padding-top: 60px
	// 	padding-bottom: 60px
@media (max-width: 576px)
	.container
		max-width: 540px
		width: 87%
	.button
		border-radius: 5px

.button
	border-radius: 10px
	background-color: $main-color
	color: $text-color
	cursor: pointer
	outline: none
	border: none
	padding: 19px 30px 17px
	transition: all 0.5s
	&:hover
		background-color: lighten($main-color, 15%)
.section
	padding: 62px 0 90px
	&-title
		text-align: center
		font-size: 24px
		+bold
	&-subtitle
		font-size: 16px
		+reg
.input
	border: 1px solid $border-input
	padding: 23px 26px
	font-size: 15px
	border-radius: 10px
	outline: none
	+reg
	&-group
		position: relative
		display: inline-block
	&__title
		margin-bottom: 32px
		font-size: 22px;
		line-height: 33px;
		+bold
		align-items: center
	&__subtitle
		display: block
		margin-bottom: 36px
		margin-left: -2px
		font-size: 16px;
		line-height: 45px;
	&__description
		display: block

.arrows
	&__left, &__right
		&:hover
			cursor: pointer
.slideleft
	animation: mySlideLeft 1.2s ease forwards
.slidedown
	animation: mySlideDown 1s ease forwards

@media (max-width: 768px)
	.section
		padding: 35px 0 50px
		&-title
			font-size: 18px
		&-subtitle
			font-size: 14px
.invalid
	color: red
	border: 1px solid red
	display: inline-block
#username-error
	border: 0
	// position: absolute
	// top: -10px
	// left: 25%
#phone-error
	border: 0
#email-error
	border: 0