.footer
	position: relative
.map
	position: absolute
	left: 0
	top: 0
	width: 50%
.contacts
	flex-basis: 50%
	padding-top: 100px
	padding-left: 200px
	&__title
		font-size: 22px
		line-height: 33px
		+bold
		max-width: 300px
	&-block
		display: flex
		justify-content: flex-end
