.hero
	background-color: #f5f5f5
	padding: 50px 0
	&-block
		display: flex
		justify-content: space-between
	&-text
		flex-basis: 47%
		padding-right: 80px
		&__title
			font:
				size: 41px	
				weight: 700
			line-height: 55px
			margin-bottom: 38px
		&__subtitle
			font:
				size: 20px
				weight: 700
			display: inline-block
			margin-bottom: 66px
	&-list
		margin: 0
		padding: 0
	
		&__item
			display: flex
			align-items: center
			margin-bottom: 23px
		&__image
			width: 40px
			height: 40px
			border: 2px solid $main-color
			display: flex
			align-items: center
			justify-content: center
			border-radius: 50%
			margin-right: 30px
		&__text
			max-width: 250px
			font-size: 14px
			font-weight: 300
			line-height: 24px
	
@media (max-width: 1200px)
	img
		max-width: 100%
@media (max-width: 992px)
	.hero
		&-list
			margin-bottom: 44px
		&-text
			padding-right: 5px
@media (max-width: 768px)
	.hero
		&-block
			flex-direction: column
@media (max-width: 576px)
	.hero
		padding-top: 25px
		&-list
			margin-bottom: 35px
		&-text
			&__title
				font-size: 23px
				line-height: normal
				margin-bottom: 11px
				padding-top: 10px
			&__subtitle
				font-size: 16px
				margin-bottom: 27px
		&-list
			&__text
				line-height: normal
				font-size: 12px
			&__image
				margin-right: 12px
			&__item
				margin-bottom: 16px