.navbar
	&-block
		display: flex
		justify-content: space-between
		// align-items: center
	padding: 7px 0 8px
	&__info
		display: flex
		align-items: center
		text-align: right
		margin-top: -6px
	&__adress
		display: flex
		flex-direction: column
		font-size: 13px
		margin-top: 5px
	&__button
		margin-left: 30px
		text-decoration: none
		font-size: 13px
		+bold


	&__phone
		display: inline-block
		color: $text-color
		font-size: 20px
		+bold
		text-decoration: none
		margin-top: 9px
@media (max-width: 600px)
	.navbar
		margin-left: -1px
		&__contacts
			display: none
		&__button
			font-size: 10px
			padding: 15px 26px 14px
			margin-right: 2px
		&__logo
			width: 91px
