.offer
	background: url(../img/offer/offer-bg.png) no-repeat
	background-position: center right
	background-size: contain
	position: relative
	&:before
		content: ''
		width: 50%
		height: 100%
		position: absolute
		top: 0
		left: 0
		background-color: #fff
	&-block
		width: 50%
		padding-right: 90px
		padding-top: 20px
		margin-bottom: -17px
		position: relative
	&__title
		max-width: 350px
		line-height: 35px
		margin-bottom: 19px
		text-align: left
	&__subtitle
		display: block
		max-width: 245px
		line-height: 20px
		margin-bottom: 28px
	&__form
		position: relative
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	&__input
		width: 240px
		margin-bottom: 30px
		display: inline-block
		position: relative
		&:focus
			border: 1px solid $main-color
		&::placeholder
			color: $placeholder
			line-height: 24px
	&__button
		width: 100%
		min-height: 70px
		font-size: 16px
		+bold
		display: inline-block
		padding-top: 16px
	&__feedback
		display: flex
		justify-content: space-between
		align-items: center
		margin-top: 10px
	&__text
		width: 230px
		font-size: 15px
		line-height: 24px
		&:last-child
			width: 200px
			text-align: left
	&__phone
		color: $text-color
		+bold
		text-decoration: none
	// &__invalid
	// 	border: 5px solid red

@media (max-width: 1200px)
	.offer
		background-size: cover
		&__input
			width: 100%
			margin-bottom: 10px
		&__button
			font-size: 13px
		&-block
			padding-right: 30px
@media (max-width: 768px)
	.offer
		background: #fff
		&-block
			width: 100%
			padding-right: 0
@media (max-width: 576px)
	.offer
		&__title
			max-width: 260px
			line-height: normal
			margin-bottom: 18px
		&__subtitle
			display: block
			max-width: 245px
			line-height: normal
			margin-bottom: 27px
		&__input
			width: 100%
			margin-bottom: 10px
			padding-left: 22px
			&:focus
				border: 1px solid $main-color
			&::placeholder
				color: $placeholder
				line-height: 24px
			&:first-child
				padding-left: 22px
				margin-right: 0
				margin-bottom: 8px
		&__button
			max-width: 100%
			font-size: 14px
			line-height: 18px
			display: inline-block
			padding: 5px 62px
		&__feedback
			flex-direction: column
			align-items: flex-start
			margin-top: 7px
		&__text
			width: 225px
			margin-left: 5px
			margin-bottom: -10px
		&__phone
			display: inline-block
			margin-bottom: 12px